.main{
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url('../../assets/header_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.h1{
    font-family: 'AvenirRoman';
    font-size: 3rem;
}

.h2{
    font-size: 2rem;
}