.main{
    margin: 30px 0;
}

.card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: box-shadow 0.5s;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.list{
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width:576px) {
    .main{
        margin: 41px 20px;
    }
}